{% extends 'base.html' %}

{% block content %}
  <h2>Update Coupon code</h2>
  <form method="POST" action="{{ url_for('edit_couponcode', coupon_id=coupon.coupon_id) }}">
    <label for="location_name">coupon_name:</label>
    <input type="text" name="coupon_name" value="{{ coupon.coupon_name }}"><br><br>
    <label for="location_zipcode">coupon_code:</label>
    <input type="text" name="coupon_code" value="{{ coupon.coupon_code }}"><br><br>
    <label for="normal_charge">reduction_amount:</label>
    <input type="text" name="reduction_amount" value="{{ coupon.reduction_amount }}"><br><br>
    <label for="fast_charge">quantity:</label>
    <input type="text" name="quantity" value="{{ coupon.quantity }}"><br><br>
    <label for="active_status">Active Status:</label>
    <select name="active_status">
      <option value="True" {% if coupon.active_status == True %}selected{% endif %}>Active</option>
      <option value="False" {% if coupon.active_status == False %}selected{% endif %}>Inactive</option>
    </select><br><br>
    <input type="submit" value="Update Delivery Charge">
  </form>
{% endblock %}
